src/main/resources/AuthenticationGetTokenInbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://ws.enroutecorp.com/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="authentication_get_token">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="user"/>
                <xs:element type="xs:string" name="password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>