src/main/resources/LegacyOutbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://ws.enroutecorp.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://ws.enroutecorp.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  attributeFormDefault="unqualified" elementFormDefault="qualified">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ws.enroutecorp.com/">
            <s:element name="shipment_cancel">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="shipment_id" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="shipment_cancelResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="shipment_cancelResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="xml_shipment_create_and_execute">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="xml_shipment_create_and_executeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="xml_shipment_create_and_executeResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="authentication_validate_token">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="authentication_validate_tokenResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="authentication_validate_tokenResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="authentication_get_token">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="authentication_get_tokenResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="authentication_get_tokenResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="boolean" type="s:boolean" />
            <s:element name="string" nillable="true" type="s:string" />
        </s:schema>
    </wsdl:types>
    <wsdl:message name="shipment_cancelSoapIn">
        <wsdl:part name="parameters" element="tns:shipment_cancel" />
    </wsdl:message>
    <wsdl:message name="shipment_cancelSoapOut">
        <wsdl:part name="parameters" element="tns:shipment_cancelResponse" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeSoapIn">
        <wsdl:part name="parameters" element="tns:xml_shipment_create_and_execute" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeSoapOut">
        <wsdl:part name="parameters" element="tns:xml_shipment_create_and_executeResponse" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islSoapIn">
        <wsdl:part name="parameters" element="tns:xml_shipment_create_and_execute_isl" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islSoapOut">
        <wsdl:part name="parameters" element="tns:xml_shipment_create_and_execute_islResponse" />
    </wsdl:message>

    <wsdl:message name="authentication_get_tokenSoapIn">
        <wsdl:part name="parameters" element="tns:authentication_get_token" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenSoapOut">
        <wsdl:part name="parameters" element="tns:authentication_get_tokenResponse" />
    </wsdl:message>

    <wsdl:message name="shipment_cancelHttpGetIn">
        <wsdl:part name="token" type="s:string" />
        <wsdl:part name="shipment_id" type="s:string" />
    </wsdl:message>
    <wsdl:message name="shipment_cancelHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeHttpGetIn">
        <wsdl:part name="token" type="s:string" />
        <wsdl:part name="xml" type="s:string" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islHttpGetIn">
        <wsdl:part name="user" type="s:string" />
        <wsdl:part name="xml" type="s:string" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>


    <wsdl:message name="authentication_get_tokenHttpGetIn">
        <wsdl:part name="user" type="s:string" />
        <wsdl:part name="password" type="s:string" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>


    <wsdl:message name="shipment_cancelHttpPostIn">
        <wsdl:part name="token" type="s:string" />
        <wsdl:part name="shipment_id" type="s:string" />
    </wsdl:message>
    <wsdl:message name="shipment_cancelHttpPostOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeHttpPostIn">
        <wsdl:part name="token" type="s:string" />
        <wsdl:part name="xml" type="s:string" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_executeHttpPostOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islHttpPostIn">
        <wsdl:part name="user" type="s:string" />
        <wsdl:part name="xml" type="s:string" />
    </wsdl:message>
    <wsdl:message name="xml_shipment_create_and_execute_islHttpPostOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenSoapIn">
        <wsdl:part name="parameters" element="tns:authentication_validate_token" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenSoapOut">
        <wsdl:part name="parameters" element="tns:authentication_validate_tokenResponse" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenHttpGetIn">
        <wsdl:part name="token" type="s:string" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenHttpGetIn">
        <wsdl:part name="user" type="s:string" />
        <wsdl:part name="password" type="s:string" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenHttpGetOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenHttpPostIn">
        <wsdl:part name="token" type="s:string" />
    </wsdl:message>
    <wsdl:message name="authentication_validate_tokenHttpPostOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenHttpPostIn">
        <wsdl:part name="user" type="s:string" />
        <wsdl:part name="password" type="s:string" />
    </wsdl:message>
    <wsdl:message name="authentication_get_tokenHttpPostOut">
        <wsdl:part name="Body" />
    </wsdl:message>
    <wsdl:portType name="Enroute_Web_ServiceSoap">
        <wsdl:operation name="xml_shipment_create_and_execute">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML Create Shipment and Execute</wsdl:documentation>
            <wsdl:input message="tns:xml_shipment_create_and_executeSoapIn" />
            <wsdl:output message="tns:xml_shipment_create_and_executeSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute_isl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML Create Shipment and Execute from Infrastructure security layer ISL</wsdl:documentation>
            <wsdl:input message="tns:xml_shipment_create_and_execute_islSoapIn" />
            <wsdl:output message="tns:xml_shipment_create_and_execute_islSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="authentication_validate_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_validate_tokenSoapIn" />
            <wsdl:output message="tns:authentication_validate_tokenSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="authentication_get_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_get_tokenSoapIn" />
            <wsdl:output message="tns:authentication_get_tokenSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Enroute_Web_ServiceHttpGet">
        <wsdl:operation name="shipment_cancel">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel Shipment</wsdl:documentation>
            <wsdl:input message="tns:shipment_cancelSoapIn" />
            <wsdl:output message="tns:shipment_cancelSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="shipment_cancel">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel Shipment</wsdl:documentation>
            <wsdl:input message="tns:shipment_cancelHttpGetIn" />
            <wsdl:output message="tns:shipment_cancelHttpGetOut" />
        </wsdl:operation>
        <wsdl:operation name="shipment_cancel">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel Shipment</wsdl:documentation>
            <wsdl:input message="tns:shipment_cancelHttpPostIn" />
            <wsdl:output message="tns:shipment_cancelHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML Create Shipment and Execute</wsdl:documentation>
            <wsdl:input message="tns:xml_shipment_create_and_executeHttpPostIn" />
            <wsdl:output message="tns:xml_shipment_create_and_executeHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute_isl">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML Create Shipment and Execute from Infrastructure security layer ISL</wsdl:documentation>
            <wsdl:input message="tns:xml_shipment_create_and_execute_islHttpPostIn" />
            <wsdl:output message="tns:xml_shipment_create_and_execute_islHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="authentication_validate_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_validate_tokenHttpGetIn" />
            <wsdl:output message="tns:authentication_validate_tokenHttpGetOut" />
        </wsdl:operation>
        <wsdl:operation name="authentication_get_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_get_tokenSoapIn" />
            <wsdl:output message="tns:authentication_get_tokenSoapOut" />
        </wsdl:operation>

        <wsdl:operation name="authentication_get_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_get_tokenSoapIn" />
            <wsdl:output message="tns:authentication_get_tokenSoapOut" />
        </wsdl:operation>

        <wsdl:operation name="authentication_get_token">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Authentication Token</wsdl:documentation>
            <wsdl:input message="tns:authentication_get_tokenHttpGetIn" />
            <wsdl:output message="tns:authentication_get_tokenHttpGetOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Enroute_Web_ServiceHttpPost">
        <wsdl:operation name="shipment_cancel">
            <soap:operation soapAction="http://ws.enroutecorp.com/shipment_cancel" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute">
            <soap:operation soapAction="http://ws.enroutecorp.com/xml_shipment_create_and_execute" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute_isl">
            <soap:operation soapAction="http://ws.enroutecorp.com/xml_shipment_create_and_execute_isl" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authentication_validate_token">
            <soap:operation soapAction="http://ws.enroutecorp.com/authentication_validate_token" style="document" />

            <wsdl:input message="tns:authentication_validate_tokenHttpPostIn" />
            <wsdl:output message="tns:authentication_validate_tokenHttpPostOut" />
        </wsdl:operation>
        <wsdl:operation name="authentication_get_token">
            <soap:operation soapAction="http://ws.enroutecorp.com/authentication_get_token" style="document" />

            <wsdl:input message="tns:authentication_get_tokenHttpPostIn" />
            <wsdl:output message="tns:authentication_get_tokenHttpPostOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Enroute_Web_ServiceSoap" type="tns:Enroute_Web_ServiceSoap">
        <wsdl:operation name="shipment_cancel">
            <soap12:operation soapAction="http://ws.enroutecorp.com/shipment_cancel" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute">
            <http:operation location="/xml_shipment_create_and_execute" />
            <wsdl:input>
                <http:urlEncoded />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute_isl">
            <http:operation location="/xml_shipment_create_and_execute_isl" />
            <wsdl:input>
                <http:urlEncoded />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authentication_validate_token">
            <soap:operation soapAction="http://ws.enroutecorp.com/authentication_validate_token" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authentication_get_token">
            <soap:operation soapAction="http://ws.enroutecorp.com/authentication_get_token" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Enroute_Web_ServiceSoap12" type="tns:Enroute_Web_ServiceSoap">
        <wsdl:operation name="shipment_cancel">
            <http:operation location="/shipment_cancel" />
            <wsdl:input>
                <http:urlEncoded />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute">
            <http:operation location="/xml_shipment_create_and_execute" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="xml_shipment_create_and_execute_isl">
            <http:operation location="/xml_shipment_create_and_execute_isl" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authentication_validate_token">
            <soap12:operation soapAction="http://ws.enroutecorp.com/authentication_validate_token" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authentication_get_token">
            <soap12:operation soapAction="http://ws.enroutecorp.com/authentication_get_token" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Enroute_Web_Service">
        <wsdl:port name="Enroute_Web_ServiceSoap" binding="tns:Enroute_Web_ServiceSoap">
            <soap:address location="http://qas-luluroute.aws.lllint.com/platform/Enroute_Ship.asmx" />
        </wsdl:port>
        <wsdl:port name="Enroute_Web_ServiceSoap12" binding="tns:Enroute_Web_ServiceSoap12">
            <soap12:address location="http://qas-luluroute.aws.lllint.com/platform/Enroute_Ship.asmx" />
        </wsdl:port>
        <wsdl:port name="Enroute_Web_ServiceHttpGet" binding="tns:Enroute_Web_ServiceHttpGet">
            <http:address location="http://qas-luluroute.aws.lllint.com/platform/Enroute_Ship.asmx" />
        </wsdl:port>
        <wsdl:port name="Enroute_Web_ServiceHttpPost" binding="tns:Enroute_Web_ServiceHttpPost">
            <http:address location="http://qas-luluroute.aws.lllint.com/platform/Enroute_Ship.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>