src/main/resources/ShipmentCancelInbound.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://ws.enroutecorp.com/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="shipment_cancel">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="message_correlation_id"/>
                <xs:element type="xs:string" name="token"/>
                <xs:element type="xs:string" name="shipment_id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="shipment_cancelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="message_correlation_id"/>
                <xs:element type="xs:anyType" name="shipment_cancelResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>